<div class="entry">
  <%= image_tag "me.jpeg" %>
  <h1>Hi, I'm Raymond</h1>
</div>

<div class="stats">
  <div class="row">
    <div class="item col-sm-4">
      <%= image_tag "exp.png" %>
      <span class="stats-text">
        8 Years of Experience
      </span>
    </div>

    <div class="item col-sm-4">
      <%= image_tag "code.png" %>
      <span class="stats-text">
        Expert in 4 Languages
      </span>
    </div>

    <div class="item col-sm-4">
      <%= image_tag "degree.png" %>
      <span class="stats-text">
        Bachelor's Degree
      </span>
    </div>
  </div>
</div>
