<% content_for :head do %>
  <%= stylesheet_link_tag "resume", "data-turbo-track": "reload" %>
<% end %>

<div class="resume py-5 px-3">
  <div class="my-info">
    <h2>Raymond Hughes</h2>
    <hr>
    <strong>2457 sw washington street, Port Saint Lucie, Florida</strong> <br>
    <strong>772-233-6018</strong> <br>
    <strong>raymond.hughes@live.com</strong>
  </div>

  <div class="summary mt-3">
    <h2>Summary</h2>
    <hr>
    <ul>
      <li>Lead Developer with 8 years of experience</li>
      <li>Bachelors Degree in Software Engineering</li>
      <li>Ruby on Rails experience working on legacy Ruby 1.8.7 through Ruby 3.1 and Rails 2.4 through Rails 7.1</li>
      <li>Experience with PostgreSQL and and Microsoft SQL</li>
      <li>Ran scrum meetings and managed tickets using Epics and Stories</li>
      <li>Experience with Medical based SAAS products that are ONC certified</li>
    </ul>
  </div>







Experience
Lead Developer
CarePaths Inc.                   05/2016 - Present
Port Saint Lucie , Florida
Lead developer for our main cloud EHR product, eRecord. I was responsible for updates and bug fixes. I had a multitude of tasks that I was responsible for. 
Some of the technologies I used and gained years of experience with; Ruby on Rails, ASP, Java, C#, NodeJS, VueJS, JavaScript, JSON, R, WebRTC, PSQL, MSQL, and API Development
I headed up the upgrade process from a legacy version of Ruby to an updated version. Made decisions on processes and different ways that would streamline the data migration from Microsoft SQL to PostgreSQL 15. 
I was lead dev on the ONC certifications all of which were passed and CarePaths currently has the latest G10 certification for 2022. Helped to design and build the FHIR API for ONC certification.
We used TDD and I am familiar with Minitest as well as Cypress integration testing frameworks. I helped to get to a 76% code coverage from an 8% code coverage. 
I led the team to integrate WebRTC into our stack using Janus and integrating it into our VueJS frontend. 
I led the team when we integrated Faxing in app using WKHTMLTOPDF for processing PDFs and Hylafax fax server. I wrote the frontend and backend services to accommodate this change for our clients.
Jr Software Developer / IT Intern
A1 Roof Truss                   11/2014 - 11/2015
Port Saint Lucie , Florida
Worked closely with design teams to develop software that controlled automated saw mechanisms. Helped develop a proprietary application, Viper. Assisted the IT director in processes including Active Directory management, Computer Upgrades/Builds, and other internal processes that was required by management.  
This was a one year internship that I attended directly out of college. I successfully completed my duties and was able to take what I learned here to further my education within the field of software development.

Skills
Ruby on Rails
Nodejs
Postgresql
Microsoft SQL
Minitest
Computer literacy
Time management
Microsoft excel
Documentation review
Microsoft word
Leadership
Time management
Communication skills
Active Directory
Elixir

Education
Keiser University                   Software Engineering
01/2016
Port Saint Lucie , Florida
Graduated summa cum laude—3.7+ GPA
Majored In Software Engineering
Used a variety of languages including Java and C#
Completed my capstone project - Student Nurse time tracker which was used by our campus through all of 2016
Received Pell Grants for my GPA
Received a Grant from A1 Roof Truss while attending my internship
