<% content_for :head do %>
  <%= stylesheet_link_tag "resume", "data-turbo-track": "reload" %>
<% end %>

<div class="resume py-5 px-3">
  <div class="my-info">
    <h2>Raymond Hughes</h2>
    <hr>
    <strong>2457 sw washington street, Port Saint Lucie, Florida</strong> <br>
    <strong>772-233-6018</strong> <br>
    <strong>raymond.hughes@live.com</strong>
  </div>

  <div class="summary mt-3">
    <h2>Summary</h2>
    <hr>
    <ul>
      <li>Lead Developer with 8 years of experience</li>
      <li>Bachelors Degree in Software Engineering</li>
      <li>Ruby on Rails experience working on legacy Ruby 1.8.7 through Ruby 3.1 and Rails 2.4 through Rails 7.1</li>
      <li>Experience with PostgreSQL and and Microsoft SQL</li>
      <li>Ran scrum meetings and managed tickets using Epics and Stories</li>
      <li>Experience with Medical based SAAS products that are ONC certified</li>
    </ul>
  </div>

  <div class="experience mt-3">
      <h2>Experience</h2>
      <hr>
    <section>
      <strong>CarePaths Inc. | Port Saint Lucie, Florida</strong> <br>
      <strong>Lead Developer | 05/2016 - Present</strong> <br>

      <p>
        Lead developer for our main cloud EHR product, eRecord. I was responsible for updates and bug fixes. I had a
        multitude of tasks that I was responsible for.
      </p>

      <p>
        Some of the technologies I used and gained years of experience with; Ruby on Rails, ASP, Java, C#, NodeJS, VueJS,
        JavaScript, JSON, R, WebRTC, PSQL, MSQL, and API Development.
      </p>

      <p>
        I headed up the upgrade process from a legacy version of Ruby to an updated version. Made decisions on processes
        and different ways that would streamline the data migration from Microsoft SQL to PostgreSQL 15.
      </p>

      <p>
        I was lead dev on the ONC certifications all of which were passed and CarePaths currently has the latest G10 certification
        for 2022. Helped to design and build the FHIR API for ONC certification.
      </p>

      <p>
        We used TDD and I am familiar with Minitest as well as Cypress integration testing frameworks. I helped to get to a
        76% code coverage from an 8% code coverage.
      </p>

      <p>
        I led the team to integrate WebRTC into our stack using Janus and integrating it into our VueJS frontend.
      </p>

      <p>
        I led the team when we integrated Faxing in app using WKHTMLTOPDF for processing PDFs and Hylafax fax server. I wrote the frontend and backend services to accommodate this change for our clients.
      </p>
    </section>

    <section>
      <strong>A1 Roof Truss | Port Saint Lucie, Florida</strong> <br>
      <strong>Jr Software Developer/IT Intern | 11/2014 - 11/2015</strong> <br>

      <p>
        Worked closely with design teams to develop software that controlled automated saw mechanisms. Helped develop a
        proprietary application, Viper. Assisted the IT director in processes including Active Directory management, Computer
        Upgrades/Builds, and other internal processes that was required by management.
      </p>

      <p>
        This was a one year internship that I attended directly out of college. I successfully completed my duties and was
        able to take what I learned here to further my education within the field of software development.
      </p>
    </section>
  </div>

  <div class="skills">
    <h2>Skills</h2>
    <hr>
    <section>
      <ul>
        <li>Ruby on Rails</li>
        <li>ASP.net</li>
        <li>Microsoft SQL</li>
        <li>Postgresql</li>
        <li>Nodejs</li>
        <li>Elixir</li>
        <li>Minitest</li>
        <li>Computer literacy</li>
        <li>Time management</li>
        <li>Microsoft excel</li>
        <li>Documentation review</li>
        <li>Microsoft word</li>
        <li>Leadership</li>
        <li>Time management</li>
        <li>Communication skills</li>
        <li>Active Directory</li>
      </ul>
    </section>
  </div>

  <div class="education">
    <h2>Education</h2>
    <hr>
    <section>
      <strong>Keiser University. | Port Saint Lucie, Florida</strong> <br>
      <strong>Software Engineering | 01/2012 - 01/2016</strong> <br>

      <ul>
        <li>Graduated summa cum laude—3.7+ GPA</li>
        <li>Majored In Software Engineering</li>
        <li>Used a variety of languages including Java and C#</li>
        <li>Completed my capstone project - Student Nurse time tracker which was used by our campus through all of 2016</li>
        <li>Received Pell Grants for my GPA</li>
        <li>Received a Grant from A1 Roof Truss while attending my internship</li>
      </ul>
    </section>
  </div>
</div>
